.left-side{
	background-color: #9BDDFF;
	width: 70%; 
	height: 100%;
	float: left;
	padding: 20px;
}

.right-side{
	background-color: #FCD116;
	float: right;
	width: 20%;
	height: 100%;
	padding: 20px;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.navbar{
	background-color: #F0F0F0;
	height: 50px;

	justify-content: center;
	align-items: center;
	
	button{
		height: 50px;
	}

	.images{
		height: 50px;

		float: right;

		img{
			width: auto;
			height:50px;
		}
	}
}
