.intro{
	display:flex;
	padding-bottom: 5px;

	.left-side{
		background-color: #9BDDFF;
		min-width: 65%;
		max-width: 65%;
		float: left;
		padding: 20px;

		h1{
			text-align: center;
		}
	}

	.right-side{
		background-color: #FCD116;
		float: right;
		padding: 20px;
		min-width: 35%;
		max-width: 35%;

		h1{
			text-align: center;
		}
	}
}

.projects{
	display: block;

	.DTT_Quiz{
		display: flex;
		width: 100%;
	}

	.Book_DB{
		display: flex;
		width: 100%
	}

	.left-side{
		background-color: #CC0C2F;
		min-width: 65%;
		max-width: 65%;
		float: left;
		padding: 20px;

		color: white;

		h1{
			text-align: center;
		}

		img{
			max-height: 300px;
			object-fit: contain;
		}
	}

	.right-side{
		background-color: #FCD116;
		min-width: 35%;
		max-width: 35%;
		float: right;
		padding: 20px;
		overflow-wrap: break-text;
		white-space: normal;

		h1{
			text-align: center;
		}
	}
}

.header{
	text-align: center;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.navbar{
	background-color: #F0F0F0;
	height: 50px;

	justify-content: center;
	align-items: center;
	
	button{
		height: 50px;
	}

	.images{
		height: 50px;

		float: right;

		img{
			width: auto;
			height:50px;
		}
	}
}
